<div *ngIf="colegaSelected">

<section class="font-weight-bold">
  <h3>Colega</h3>
</section>

<div class="card bg-light mb-3" style="max-width: 100%;" id="colega">
    <div class="card-header" style="text-align: center;">{{colega.name}} {{colega.surname}}</div>
    <div class="card-body">
      <p class="card-text">Fecha nacimiento: {{colega.birthDate}}</p>
      <p class="card-text">Fecha inicio aplicacion: {{colega.startDate}}</p>
      <p class="card-text">Usuario: {{colega.user}}</p>
      <p class="card-text">Amigos del colega:</p>
      <div id="amigosColega" *ngFor="let relacion of colega.relationship1">
      <p>{{relacion.userFollow.name}}</p>
      </div>
      <div id="amigosColega" *ngFor="let relacion of colega.relationship2">
        <p>{{relacion.userFollowing.name}}</p>
        </div>
    </div>
  </div>

</div>

<div *ngIf="desconocidoSelected">

  <section class="font-weight-bold">
    <h3>Colega</h3>
  </section>
  
  <div class="card bg-light mb-3" style="max-width: 100%;" id="colega">
      <div class="card-header" style="text-align: center;">{{desconocido.name}} {{desconocido.surname}}</div>
      <div class="card-body">
        <button type="button" [disabled]="isUserPending(desconocido) || desconocido.disabled" (click)="sendFriendRequest(desconocido); desconocido.disabled=true" class="btn btn-primary">Agregar amigo</button>
      </div>
    </div>
  
  </div>