<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" routerLink="/inicio">GD</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link" routerLink="/inicio">Inicio </a>
            <a class="nav-item nav-link" href="/perfil">Perfil</a>
            <a class="nav-item nav-link" routerLink="/miscolegas">Colegas</a>
            <a class="nav-item nav-link" href="/eventos">Eventos</a>
        </div>
    </div>
</nav>