#avatar{
    position: absolute;
    top: 20em;
    left: 10em;
    width: 300px;
    height: 300px;
}

#sticky-footer {
    flex-shrink: none;
}  

.nameUser{
    position: absolute;
    top: 7em;
    left: 13em;
    z-index: 100;
    font-size: 45px;
    color: aliceblue;
}