<section class="container">

    <section class="font-weight-bold">
        <h3>Mis Coleguillas</h3>
    </section>

    <div *ngIf="currentRoute === '/perfil'">
        <section *ngFor="let relationship of relationships" class="container alert alert-success overflow-auto" style="background-color: #e3f2fd">
            <div class="row row-cols-2">
                <div class="col-6 mt-3">
                    <img src="../../../assets/avatar1.jpg" alt="Foto de perfil" class="rounded-circle" width="145" height="145">
                </div>
                <div class="col-6 mt-3">
                    <section class="font-weight-bold" style="color: darkcyan;">
                        <article>{{getRelationshipNameSurname(relationship)}} <button (click)="deleteFriendship(relationship)" class="ml-1 btn btn-danger">X</button></article>

                    </section>
                </div>
            </div>
        </section>
        <section *ngFor="let relationship of pendingRelationships" class="container alert alert-success overflow-auto" style="background-color: #e3f2fd">
            <div class="row row-cols-2">
                <div class="col-6 mt-3">
                    <img src="../../../assets/avatar1.jpg" alt="Foto de perfil" class="rounded-circle" width="145" height="145">
                </div>
                <div class="col-6 mt-3">
                    <section class="font-weight-bold" style="color: darkcyan;">
                        <article>{{getRelationshipNameSurname(relationship)}} <button type="button" (click)="updateFriendship(relationship)" class="btn btn-primary">Agregar amigo</button></article>

                    </section>
                </div>
            </div>
        </section>
    </div>

    <div *ngIf="currentRoute === '/miscolegas'">

        <div *ngIf="!stringSearch">

            <section *ngFor="let relationship of relationships" class="container alert alert-success overflow-auto tarjeta" style="background-color: #e3f2fd" (click)="selectRelation(relationship)">
                <div class="row row-cols-2">
                    <div class="col-6 mt-3">
                        <img src="../../../assets/avatar1.jpg" alt="Foto de perfil" class="rounded-circle" width="145" height="145">
                    </div>
                    <div class="col-6 mt-3">
                        <section class="font-weight-bold" style="color: darkcyan;">
                            <article>{{getRelationshipNameSurname(relationship)}} <button (click)="deleteFriendship(relationship)" class="ml-1 btn btn-danger">X</button></article>

                        </section>
                    </div>
                </div>
            </section>
            <section *ngFor="let user of allUsers" class="container alert alert-success overflow-auto tarjeta" style="background-color: #e3f2fd" (click)="selectUser(user)">
                <div class="row row-cols-2">
                    <div class="col-6 mt-3">
                        <img src="../../../assets/avatar1.jpg" alt="Foto de perfil" class="rounded-circle" width="145" height="145">
                    </div>
                    <div class="col-6 mt-3">
                        <section class="font-weight-bold" style="color: darkcyan;">
                            <article>{{user.name}} {{user.surname}} </article>

                        </section>
                    </div>
                </div>
            </section>

        </div>



        <div *ngIf="searchColeguilla()">

            <section *ngFor="let relationship of searchRelationships" class="container alert alert-success overflow-auto tarjeta" style="background-color: #e3f2fd" (click)="selectUser(relationship.userFollow)">
                <div class="row row-cols-2">
                    <div class="col-6 mt-3">
                        <img src="../../../assets/avatar1.jpg" alt="Foto de perfil" class="rounded-circle" width="145" height="145">
                    </div>
                    <div class="col-6 mt-3">
                        <section class="font-weight-bold" style="color: darkcyan;">
                            <article>{{getRelationshipNameSurname(relationship)}} <button (click)="deleteFriendship(relationship)" class="ml-1 btn btn-danger">X</button></article>

                        </section>
                    </div>
                </div>
            </section>
            <section *ngFor="let user of searchColeguillas" class="container alert alert-success overflow-auto tarjeta" style="background-color: #e3f2fd" (click)="selectUser(user)">
                <div class="row row-cols-2">
                    <div class="col-6 mt-3">
                        <img src="../../../assets/avatar1.jpg" alt="Foto de perfil" class="rounded-circle" width="145" height="145">
                    </div>
                    <div class="col-6 mt-3">
                        <section class="font-weight-bold" style="color: darkcyan;">
                            <article>{{user.name}} {{user.surname}} </article>

                        </section>
                    </div>
                </div>
            </section>

        </div>

    </div>

</section>