<section class="container">
    <section class="font-weight-bold">
        <h3>Mis Historietas</h3>
    </section>
    <section *ngFor="let message of messages" class="container alert alert-success overflow-auto" style="background-color: #e3f2fd">

        <div class="row row-cols-2">
            <div class="col-6 mt-3">
                <p class="font-weight-bold" style="color: darkcyan;">{{user.name}} {{user.surname}}</p>
            </div>
            <div class="col-6 text-right mt-3">
                <p class="font-weight-bold" style="color: darkcyan;">{{message.publishDate}}</p>
            </div>
            <div class="col-2">
                <img src="../../../assets/avatar1.jpg" alt="Foto de perfil" class="rounded-circle" width="145" height="145">
            </div>
            <div class="col-8 mb-3 ml-5">
                <textarea class="form-control" rows="5" style="resize: none;" disabled>{{message.content}}</textarea>
            </div>
            <div class="col-12 text-right mb-3 btn-group-sm">
            </div>
        </div>
    </section>
</section>