<footer id="sticky-footer" class="py-4 bg-primary text-white-50">
    <div class="container text-center">
      <small>Copyright 2020 &copy; - Tu red social con Angular 10 GRUPOD</small><br>
      <small>  Sergio Vizcaino  |  Adrian George  |  Cristian Cid</small>
    </div>
  </footer>