<section>
<form novalidate [formGroup]="ngForm">

  <div class="form-group">
    <label for="exampleInputEmail1">Event tittle</label>
    <input formControlName="tittle" type="text" name="name" placeholder="tittle" [(ngModel)]="newEvent.name"
      class="form-control">
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Event description</label>
    <textarea formControlName="description" type="text" name="description" placeholder="description"
      [(ngModel)]="newEvent.description" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleFormControlTextarea1">Event date</label>
    <input formControlName="date" placeholder="date" name="date" type="date" class="form-control"
      [(ngModel)]="newEvent.eventDate" />
  </div>

  <button (click)="createNewEvent(newEvent)" class="btn btn-primary">Create event</button>

</form>
</section>

<hr class="style-two">

<section class="md-form active-pink-2 mb-3" id="buscador">
  <label>Search event</label>
  <input type="search" (keyup)="searchEvent()" (search)="searchEvent()" [(ngModel)]="searchText" class="form-control"
    placeholder="Search" aria-label="Search">
</section>

<section>
<aside *ngIf="!searchText">
  <div *ngFor="let event of allEvents;" class="card">
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{event.user.name}}</h6>
      <p class="card-text">{{event.description}}</p>
      <button *ngIf="checkIfUserAssists(event) == true; else elseBlock" type="button" (click)=dessistEvent(event.id)
        class="btn btn-danger">Dejar de asistir</button>
      <ng-template #elseBlock><button *ngIf="checkIfUserIsCreator(event) == false" type="button" class="btn btn-primary"
          (click)=assistEvent(event.id)>Asistir</button></ng-template>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{event.eventDate}}</small>
    </div>
  </div>
</aside>

<aside *ngIf="searchText">
  <div *ngFor="let event of searchEvents" class="card">
    <div class="card-body">
      <h5 class="card-title">{{event.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{event.user.name}}</h6>
      <p class="card-text">{{event.description}}</p>
      <button *ngIf="checkIfUserAssists(event) == true; else elseBlockS" type="button" (click)=dessistEvent(event.id)
        class="btn btn-danger">Dejar de asistir</button>
      <ng-template #elseBlockS><button *ngIf="checkIfUserIsCreator(event) == false" type="button"
          (click)=assistEvent(event.id) class="btn btn-primary">Asistir</button></ng-template>
    </div>
    <div class="card-footer">
      <small class="text-muted">{{event.eventDate}}</small>
    </div>
  </div>
</aside>
</section>