.card, form{
    margin-left: 5em;
    margin-right: 5em;
    margin-bottom: 2.5em;
}

.card-body > *{
    margin-top: 1em;
}

.active-pink-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }
  .active-pink input.form-control[type=text] {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
  }

  #buscador{
      margin-left: 5em;
      margin-right: 5em;
      margin-top: 2.5em;
      margin-bot: 2.5em;
  }

  mat-form-field {
    margin-right: 12px;
  }

  hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}