<section class="container mb-5" *ngIf="update">
    <h2 class="mb-3 border-bottom">Datos personales</h2>

    <p>
        <Label><span class="font-weight-bold">Usuario:</span> {{user.user}}</Label> </p>
    <p>
        <Label><span class="font-weight-bold">Nombre:</span> {{user.name}}</Label> </p>
    <p>
        <Label><span class="font-weight-bold">Apellido:</span> {{user.surname}}</Label> </p>
    <p>
        <Label><span class="font-weight-bold">Fecha de nacimiento:</span> {{user.birthDate}}</Label> </p>

    <button (click)="switchUpdate()" class="btn btn-primary">Editar</button>

</section>

<section class="container mb-5" *ngIf="update == false">
    <form class="row row-cols-1" (ngSubmit)="datosUpdate()">
        <h2 class="mb-3 border-bottom col-12">Editar datos personales</h2>

        <Label class="font-weight-bold mr-2 col-12" for="user">Usuario:</Label>
        <input type="text" class="col-3 ml-3" id="user" name="user" [(ngModel)]="user.user">

        <Label class="font-weight-bold mr-2 col-12" for="name">Nombre:</Label>
        <input type="text" class="col-3 ml-3" id="name" name="name" [(ngModel)]="user.name">

        <Label class="font-weight-bold mr-2 col-12" for="surname">Apellido:</Label>
        <input type="text" class="mb-4 col-3 ml-3" id="surname" name="surname" [(ngModel)]="user.surname">

        <p class="col-8"></p>

        <button type="submit" class="btn btn-primary col-1 ml-3">Guardar</button>

    </form>
</section>