<app-misdatospersonales></app-misdatospersonales>
<section class="container">
    <section class="row row-col-2">
        <section class="col-7">
            <app-mishistorietasperfil></app-mishistorietasperfil>
        </section>
        <section class="col-5">
            <app-miscoleguillasperfil></app-miscoleguillasperfil>
        </section>
    </section>
</section>