<!-- Search form -->
<div class="md-form active-pink-2 mb-3" id="buscador">
  <input value="{{searchText}}" [(ngModel)]="searchText" class="form-control" type="text" placeholder="Search coleguilla" aria-label="Search">
</div>
<div class="row">
    <div class="col-6"><app-miscoleguillasperfil [stringSearch]="searchText" (someEvent)="relationViewChild()" (someEvent)="userViewChild()" (someEvent)="selectedViewChild()"></app-miscoleguillasperfil></div>
    <div class="col-6"><app-infocolega [relationFromMisColegas]="viewChild" [userFromMisColegas]="viewUser" [viewSelectedFromMisColegas]="viewSelected"></app-infocolega></div>
  </div>