<div class="jumbotron jumbotron-fluid">
    <div class="container">
     <img src="../assets/banner.jpg" class="img-fluid" alt="banner.jpg">
     <img src="../assets/avatar1.jpg" class="img-fluid" alt="avatar.jpg" id="avatar">
      <h1 class="nameUser" >{{user.name |uppercase}} {{user.surname | uppercase}}</h1>
    </div>
  </div>